<!DOCTYPE html>
<html>
  <head>
    <title>Blog do Thi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="/assets/css/noscript.css" />
    </noscript>
  </head>

  <body class="homepage is-preload">
    <div id="page-wrapper">
      <!-- Header -->
      <div id="header">
        <!-- Inner -->
        <div class="inner">
          <header>
            <h1><a href="/" id="logo">Blog do Thi</a></h1>
            <hr />
            <p>Fique a vontade para postar.</p>
          </header>
          <footer>
            <a href="/new" class="button circled scrolly">Começar</a>
          </footer>
        </div>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new">Nova Postagem</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
